// constants
$number-of-days: 7;

// dimensions
$container-padding-horizontal: 30px;
$iphone-width: 320px;
$max-width: 90px * $number-of-days;
$min-width: $iphone-width - $container-padding-horizontal;
$column-width: percentage(1/$number-of-days);

// colours
$date-active-color: #000000;
$date-active-color-selected: #fff;
$date-colour-header: #b4b4b4;
$date-colour-body: #3f3f3f;
$date-colour-inactive: #dcdcdc;
$background-colour-active-week: #dcdcdc;
$background-colour-active-day: #2789e4;;
$background-colour: #f5f5f5;
$date-hover-color: #f5f5f5;
$date-hover-background-color: #27e5e4;

.calendar-event-list {
  .event {
    cursor: pointer;
    border-bottom: 1px solid;
    padding: 1em 0;

    &.event-fixed-height-temp-className {
      height: 100px;
    }

    .event-content {
      display: inline-block;
    }

    .icon-container {
      background: black;
      color: white;
      height: 100px;
      line-height: 100px;
      padding: 20px;
      width: 10%;
      white-space: nowrap;
    }

    &:hover {
      background-color: $date-hover-color;
    }

    // &:after {
    //   // do some shit
    //   content: ">";
    //   font-size: 2em;
    // }
  }
}

.select-all-events {
  background-color: #dcdcdc;
  border: 10px solid #dcdcdc;
  cursor: pointer;
  display: inline-block;
  margin-top: 1em;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  &.selected {
    border-color: #2789e4;
    display: inline-block;
    background-color: #2789e4;
    color: #fff;
  }
}

.event-view-to-calendar {
  cursor: pointer;
}

.event-preview-view {
  display: inline-block;
  cursor: pointer;

  &:hover {
    font-weight: bolder;
  }
}

.calendar-list {
  margin: 1em 0;

  .calendar-view {
    cursor: pointer;
    display: inline-block;
    color: #ccc;
    padding: 0 1em;
    text-align: center;
    width: 160px; // todo: remove special number?

    .selected {
      font-weight: bold;
      color: #000;
    }
  }
}

.calendar-source-filter {
  margin: 1em 0;

  .calendar-source {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 0 1em;
    text-align: center;
    width: 160px; // todo: remove special number?

    &.selected {
      color: #000;
    }
  }
}

.calendar-filter {
  color: #ccc;
  cursor: pointer;
  padding: 1em 0;

  .filter {
    display: inline-block;
    padding: 0 0.5em;
  }

  .active {
    color: rgb(51, 51, 51);
  }
}

.calendar-grid.active .week-body .grid-cell .active-day {
  background-color: $background-colour-active-day;
  color: $date-active-color;
  font-weight: bolder;

  &.circle {
    background-color: $background-colour-active-day;
    border-radius: 50%;
    color: $date-active-color-selected;
  }
}

// todo: only style .calendar-grid-container
.calendar, .calendar-grid-container {
  margin-bottom: 1em;
  max-width: $max-width;
  min-width: $min-width;

  .row {
    margin: 0;
  }

  // Grid Cell base
  .grid-cell {
    display: inline-block;
    float: left;
    font-weight: 500;
    min-height: 1px;
    padding: 0;
    width: $column-width;

    > div {
      position: relative;
      padding: 50% 0;

      > div {
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        left: 50%;
        overflow: auto;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
      }
    }
  }

  // Grid Cell Week Header
  .week-header {
    .title {
      text-align: center;
    }

    .grid-cell > div > div {
      color: $date-colour-header;
      padding: 10% 0;
      height: auto;
    }
  }

  // Grid Cell Week Body
  .week-body {
    background-color: $background-colour;

    .grid-cell {
      color: $date-colour-inactive;
      cursor: pointer;

      .active-month {
        color: $date-colour-body;
      }

      .event-indicator {
        font-size: 2em;
        top: 75%;

        &.has-events:after {
          content: "·"
        }
      }
    }
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  .selected-events-list, .events-list {
    -webkit-overflow-scrolling: touch;
    max-height: 580px;
    height: 100%;
    overflow-y: auto;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .selected-events-list, .events-list {
    -webkit-overflow-scrolling: touch;
    max-height: 580px;
    height: 100%;
    overflow-y: auto;
  }
}

.selected-events-list-header, .event-list-header {
  border-bottom: 1px solid #eee;
}

.eventListContainer {
  height: 580px;

  .event-list-header {
    .events-title {
      border: none;
      display: inline-block;
      margin-right: 1em;
    }

    select {
      vertical-align: super;
    }

    h2, select {
      display: inline-block;
    }
  }

  .events-list .event {
    margin-top: 1em;
  }
}

.entry-content {
  /*I shouldn't need to do this...*/
  overflow-x: hidden;
}

.calendar-controls {
  position: relative;
  text-align: center;
  width: 100%;

  div {
    cursor: pointer;
    display: inline-block;
    text-align: center;
  }

  .current-month {
    background: #ffc0cb;
    width: 40%;
  }

  .title {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-size: 17px;
    margin: 0;
  }

  .arrow {
    border: 8px solid transparent;
    cursor: pointer;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 0 12px;
    position: absolute;
    width: 0;
  }

  .arrow-next {
    right: 0;
    border-left-color: black;
    border-left-width: 12px;
  }

  .arrow-previous {
    left: 0;
    border-right-color: black;
    border-right-width: 12px;
  }
}