@charset "UTF-8";
.calendar-list {
  margin: 1em 0; }
  .calendar-list .calendar-view {
    cursor: pointer;
    display: inline-block;
    color: #ccc;
    padding: 0 1em;
    text-align: center;
    width: 160px; }
    .calendar-list .calendar-view .selected {
      font-weight: bold;
      color: #000; }

.calendar-source-filter {
  margin: 1em 0; }
  .calendar-source-filter .calendar-source {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 0 1em;
    text-align: center;
    width: 160px; }
    .calendar-source-filter .calendar-source.selected {
      color: #000; }

.calendar-filter {
  color: #ccc;
  cursor: pointer;
  padding: 1em 0; }
  .calendar-filter .filter {
    display: inline-block;
    padding: 0 0.5em; }
  .calendar-filter .active {
    color: #333333; }

.calendar, .calendar-grid-container {
  margin-bottom: 1em;
  max-width: 630px;
  min-width: 290px; }
  .calendar .row, .calendar-grid-container .row {
    margin: 0; }
  .calendar .grid-cell, .calendar-grid-container .grid-cell {
    display: inline-block;
    float: left;
    font-weight: 500;
    min-height: 1px;
    padding: 0;
    width: 14.28571%; }
    .calendar .grid-cell > div, .calendar-grid-container .grid-cell > div {
      position: relative;
      padding: 50% 0; }
      .calendar .grid-cell > div > div, .calendar-grid-container .grid-cell > div > div {
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        left: 50%;
        overflow: auto;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 50%; }
  .calendar .week-header .title, .calendar-grid-container .week-header .title {
    text-align: center; }
  .calendar .week-header .grid-cell > div > div, .calendar-grid-container .week-header .grid-cell > div > div {
    color: #b4b4b4;
    padding: 10% 0;
    height: auto; }
  .calendar .week-body, .calendar-grid-container .week-body {
    background-color: #f5f5f5; }
    .calendar .week-body .grid-cell, .calendar-grid-container .week-body .grid-cell {
      color: #dcdcdc;
      cursor: pointer; }
      .calendar .week-body .grid-cell .circle, .calendar-grid-container .week-body .grid-cell .circle {
        background-color: #2789e4;
        border-radius: 50%;
        color: #fff; }
      .calendar .week-body .grid-cell .active-month, .calendar-grid-container .week-body .grid-cell .active-month {
        color: #3f3f3f; }
        .calendar .week-body .grid-cell .active-month.circle, .calendar-grid-container .week-body .grid-cell .active-month.circle {
          color: #fff; }
        .calendar .week-body .grid-cell .active-month.active-week-zzzzz, .calendar-grid-container .week-body .grid-cell .active-month.active-week-zzzzz {
          background-color: #dcdcdc; }
        .calendar .week-body .grid-cell .active-month.active-day, .calendar-grid-container .week-body .grid-cell .active-month.active-day {
          background-color: #2789e4;
          color: #000000;
          font-weight: bolder; }
          .calendar .week-body .grid-cell .active-month.active-day.circle, .calendar-grid-container .week-body .grid-cell .active-month.active-day.circle {
            color: #fff; }
      .calendar .week-body .grid-cell .event-indicator, .calendar-grid-container .week-body .grid-cell .event-indicator {
        font-size: 2em;
        top: 75%; }
        .calendar .week-body .grid-cell .event-indicator.has-events:after, .calendar-grid-container .week-body .grid-cell .event-indicator.has-events:after {
          content: "·"; }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .selected-events-list, .events-list {
    -webkit-overflow-scrolling: touch;
    max-height: 580px;
    height: 100%;
    overflow-y: auto; } }
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .selected-events-list, .events-list {
    -webkit-overflow-scrolling: touch;
    max-height: 580px;
    height: 100%;
    overflow-y: auto; } }
.selected-events-list-header, .event-list-header {
  border-bottom: 1px solid #eee; }

.eventListContainer {
  height: 580px; }
  .eventListContainer .event-list-header .events-title {
    border: none;
    display: inline-block;
    margin-right: 1em; }
  .eventListContainer .event-list-header select {
    vertical-align: super; }
  .eventListContainer .event-list-header h2, .eventListContainer .event-list-header select {
    display: inline-block; }
  .eventListContainer .events-list .event {
    margin-top: 1em; }

.entry-content {
  /*I shouldn't need to do this...*/
  overflow-x: hidden; }

.calendar-controls {
  position: relative;
  text-align: center;
  width: 100%; }
  .calendar-controls div {
    cursor: pointer;
    display: inline-block;
    text-align: center; }
  .calendar-controls .current-month {
    background: #ffc0cb;
    width: 40%; }
  .calendar-controls .title {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-size: 17px;
    margin: 0; }
  .calendar-controls .arrow {
    border: 8px solid transparent;
    cursor: pointer;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 0 12px;
    position: absolute;
    width: 0; }
  .calendar-controls .arrow-next {
    right: 0;
    border-left-color: black;
    border-left-width: 12px; }
  .calendar-controls .arrow-previous {
    left: 0;
    border-right-color: black;
    border-right-width: 12px; }

/*# sourceMappingURL=calendar.css.map */
